/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=AG+FontFamilyName&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:"Montserrat", cursive ; */
    font-family: 'Inter', system-ui;
}
/* global style */
.container{
    width: 90%;
    margin: auto;
    height: 100vh;
}
.pt-5{
    padding: 20px 0;
}
.pt-2{
    padding: 10px 0;
}
.pb-2{
    padding-bottom: 10px;
}
.pb-5{
    padding-bottom: 15px;
}
.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.text-center{
    text-align: center;
}
.justify-around{
    justify-content: space-around;
}
.bg-info{
    background-color: #09c;
}
.bg-test{
    background-color: tomato;
}
.w-25{
    width: 25%;
}
.w-75{
    width: 75%;
}
.w-100{
    width: 100%;
}
/* Sidebar style */
.side-bar{
    width: 272px;
    background-color: #FFFFFF;
    /* height: 900px; */
    border-radius: 9px;
}
.sidebar-content-main{
   display: flex;
   flex-direction: column;
}
.links{
    /* overflow-y: auto; */
}
.side-bar ul{
    list-style-type: none;
    margin-left: 9%;
}
.side-bar-header{
    color: #525866;
   align-items: center;
}
.side-bar-header .expand-arrow , .arrow{
    cursor: pointer;
}
.divider{
    padding: 3% 0;
}
.divide{

    height: 1px;
    background-color: #E2E4E9;
    display: flex;
    justify-content: center;
    align-items: center;

}
.side-bar-content-main{
    /* height: 446px; */
}
.link-head{
   margin: 0 10px;
   color: #868C98;
   font-size: 14px;
}
.links li{
    padding: 8px 12px;
}
.active{
    color: black !important;
    i{
        color: #375DFB !important;
    }
}
.active::after{
    content: "";
    display: inline-block;
    background-color: #375DFB;
    height: 16px;
    width: 4px;
    position: relative;
    top: 2px;
    right: 40%;
    border-radius: 4px;
}
.links a{
    color: #525866;
    text-decoration: none;
}
.links a:hover{
    color: black;
    i{
        color: #375DFB;
    }
}
.link-head-2{
    color: black;
    margin: 0 10px;
    font-weight: 600;
}
.optional{
    font-weight: 300;
    color: #868C98;
}
.optional-p{
    font-weight: 300;
    color: #868C98;
    font-size: 14px;
    margin: 25px;
    padding-top: 2%;
}
/* Form control pure css  */
.form-control {
    display: block;
    width: 90%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled, 
.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}
/* end of form control */

.user-name{
    font-size: 14px;
    font-weight: 500;
    i{
        color: #35B9E9;
    }
}
.user-mail{
    color: #525866;
    font-size: 12px;
}
.arrow{
    i{
        color: #525866 !important;
    }
}